[Desktop Entry]
Name=Camunda Modeler
Type=Application
Exec={{cm_install_dir}}/camunda-modeler
Terminal=false
Icon={{cm_install_dir}}/support/icon_128.png
NoDisplay=false
Categories=Development;
Name[en]=Camunda-Modeler
